<template name="panel">
  <div id="modal" class="modal show" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close closePanel" type="button" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">{{this.header}}</h4>
              </div>
              <div class="modal-body">
                  <p>{{>UI.contentBlock}}</p>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-default closePanel" data-dismiss="modal"> Close</button>
              </div>
          </div>
      </div>
  </div>
</template>